.navbar, 
#print, 
hr {
    display: none;
}

#bio div {
    float: left;
}

#bio .span2 {
    width:20%;
    padding: 25px 0 0 0;
}
#bio .span4 {
    width:100%;
}
#bio .span6 {
    width:80%;
}

.well {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow:none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h3 span.label {
    display: inline;
    float: none;
    margin: 5px 0 0 0;
}

span.label {
    text-shadow:none;
    color: #000;
    padding: 0;
}

