

.navbar {
    position: static;
}

@media (min-width: 979px) {
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .navbar {
        position: fixed;
    }
}



.avatar {
    margin: 0 15px 15px 0; 
}

.resize {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 80px;
    width: 80px;
    background: url(../img/resize.png);
}

.ua-ie-6 .resize, 
.ua-ie-7 .resize, 
.ua-ie-8 .resize {
    display: none;
}